body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 700px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

select,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
}